.movie-list {
  background-color: grey;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-left: 0px;
  overflow-y: auto;
  justify-content: space-evenly;
}
<<<<<<< HEAD
=======

>>>>>>> 119d15ef7e3e1282875fbcecbf15fda97135ab0a
.background {
  background-color: grey;
  height: 100%;
}
